@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #0eb582;
  --color-light-green: #f0fdfa;
  --color-light-gray: #777;
  --color-light-white: #eee;
  --color-light-black: #444;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-green);
}
